data/*.db
data/*.sqlite3
data/*.csv
data/chroma_db/

venv/
env/
.env
venv-rag/


pycache/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/


.env
.flaskenv

.vscode/
.idea/
.DS_Store
*.swp

*.log

.venv/
.history/
scratch/
